$font-properties: sans-serif, #fff;
$sides-space: 0px 10%;
$transparency-black: rgba(45,45,45,.85);
$font-family: 'Roboto', sans-serif;
$font-color: #fff;
$font-weight: 300;
$font-shadow: 0 1px 2px rgba(0,0,0,.6);

@mixin cover-bg-image($file) {
  background: url(#{$file}.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: $font-family;
  color: $font-color;
  @include cover-bg-image('../images/background');
}

header {
  height: 40%;
  font-family: $font-family;
  color: $font-color;

  .title-box {
    text-shadow: $font-shadow;
    font-weight: $font-weight;
    background: none;

    h2 {
      line-height: 1.5;
    }

    .fancy-line {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
      filter: blur(0.5px);
    }

    img{
      padding: 3% 0px;
    }
  }
}

main {
  height: 60%;
  // @include container-centered(50%);

  .content {
    font-family: $font-family;
    color: $font-color;
    font-weight: $font-weight;
    text-shadow: $font-shadow;
    padding: 2% 5%;
    border-radius: 8px;
    background: $transparency-black;
    margin-bottom: 5%;

    h3 {
      margin-bottom: 3%;
      font-weight: 300;
    }

    select {
      margin: 10px 0px;
      height: 35px;
      font-weight: 500;

      &:disabled {
        color: rgba(85, 85, 85, 0.42);
      }
    }

    .answer-box {
      margin-top: 3%;
      font-size: 20px;
      text-align: left;
      text-transform: capitalize;
    }
  }
}
